<!doctype html>
<html lang="zh-CN">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='AudioPlayer/css/audioplayer.css') }}"/>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	</head>
	<style>
	.navbar {
		margin-bottom: 0px;
	}
	</style>

	{% block body %}{% endblock %}
	
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/tinymce_setup.js') }}"></script>
	<script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='AudioPlayer/js/jquery.js') }}"></script>
	<script src="{{ url_for('static', filename='AudioPlayer/js/audioplayer.js') }}"></script>
	<script>$( function() { $( 'audio' ).audioPlayer(); } );</script>
</html>
