{% extends "base.html" %}
{% block body %}

<!-- jumptron -->
<div class="jumbotron jumbotron-fluid">
	<div class="container">
		{% if session.logged_in %}
		<div class="d-md-flex justify-content-center">
			<div><a href="" class="avatar"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533310347600&di=cc9fe9c7efeb0dcb89106e2f8ca6770a&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F267f9e2f07082838304837cfb499a9014d08f1a0.jpg" /></a></div>
			<div><a href="" class="avatar"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533310347600&di=cc9fe9c7efeb0dcb89106e2f8ca6770a&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F267f9e2f07082838304837cfb499a9014d08f1a0.jpg" /></a></div>
			<div><a href="" class="avatar"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533310347600&di=cc9fe9c7efeb0dcb89106e2f8ca6770a&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F267f9e2f07082838304837cfb499a9014d08f1a0.jpg" /></a></div>
			<div><a href="" class="avatar"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533310347600&di=cc9fe9c7efeb0dcb89106e2f8ca6770a&imgtype=0&src=http%3A%2F%2Fh.hiphotos.baidu.com%2Fimage%2Fpic%2Fitem%2F267f9e2f07082838304837cfb499a9014d08f1a0.jpg" /></a></div>
		</div>
		<br>
		<br>
		{% endif %}
		<div class="d-flex justify-content-center">
			<h2 class="text-dark" style="font-family:arial;font-weight:bold;font-size:60px">Ozone</h2>
		</div>
		
		{% if not session.logged_in %}
		<div class="d-flex justify-content-center">
			<p><a role="button" href="{{ url_for("main.login") }}" class="btn btn-success btn-lg">登录</a></p>
		</div>
		{% endif %}
	</div>
</div>

{% if session.logged_in %}
<br>

<!-- favorite song -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<div class="card exhibition bg-light text-dark">
				<div class="card-header">
					<h3 class="card-title">汪先森最近喜欢的音乐</h3>
				</div>
				<div class="card-body">
					<div class="list-group">
						{% for song in playlist1 %}
						<li class="list-group-item">
							<h4 class="card-text"><span class="badge badge-dark">NO.{{ loop.index }}</span> {{ song[0] }}</h4>
							<audio controls>
								<source src="{{ url_for('static', filename='songs/') }}{{ song[1] }}.mp3" />
									<source src="{{ url_for('static', filename='songs/') }}{{ song[1] }}.ogg" />
							</audio>
						</li>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card exhibition bg-light text-dark">
				<div class="card-header">
					<h3 class="card-title">小笨笨最近喜欢的音乐</h3>
				</div>
				<div class="card-body">
					<ul class="list-group">
						{% for song in playlist2 %}
						<li class="list-group-item">
							<h4 class="card-text"><span class="badge badge-dark">NO.{{ loop.index }}</span> {{ song[0] }}</h4>
							<audio controls>
								<source src="{{ url_for('static', filename='songs/') }}{{ song[1] }}.mp3" />
									<source src="{{ url_for('static', filename='songs/') }}{{ song[1] }}.ogg" />
							</audio>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>

<br>
<br>

<!-- exhibition -->
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8 offset-sm-2">
			<h1>精选专栏</h1>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<div class="card exhibition">
				<div class="card-body">
					<h1 class="card-title">{{ exhibition[0].title }}</h1>
					<p class="card-text">{{ exhibition[0].content|striptags|my_truncate(255) }}</p>
					<a href="{{ url_for('column.show_essay', title=exhibition[0].title, page=1) }}" class="card-link float-right">更多</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card exhibition">
				<div class="card-body">
					<h1 class="card-title">{{ exhibition[1].title }}</h1>
					<p class="card-text">{{ exhibition[1].content|striptags|my_truncate(255) }}</p>
					<a href="{{ url_for('column.show_essay', title=exhibition[1].title, page=1) }}" class="card-link float-right">更多</a>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
	<br>
	<br>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<div class="card exhibition">
				<div class="card-body">
					<h1 class="card-title">{{ exhibition[2].title }}</h1>
					<p class="card-text">{{ exhibition[2].content|striptags|my_truncate(255) }}</p>
					<a href="{{ url_for('column.show_essay', title=exhibition[2].title, page=1) }}" class="card-link float-right">更多</a>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="card exhibition">
				<div class="card-body">
					<h1 class="card-title">{{ exhibition[3].title }}</h1>
					<p class="card-text">{{ exhibition[3].content|striptags|my_truncate(255) }}</p>
					<a href="{{ url_for('column.show_essay', title=exhibition[3].title, page=1) }}" class="card-link float-right">更多</a>
				</div>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>
{% endif %}
{% endblock %}
