{% extends "base.html" %}
{% block body %}
	<div>
		{% if session.logged_in %}
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Ozone</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li role="presentation"><a href="{{ url_for("index") }}">主页</a></li>
						<li role="presentation"><a href="{{ url_for("message.show_message") }}">留言</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li role="presentation"><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>   </ul>
				</div>
			</div>
		</nav>

		{% endif %}
		<div class="jumbotron">
			<div class="container" align="center">
			<h2 class="text-info" style="font-family:arial;font-weight:bold;font-size:49px">Ozone</h2>
			<br>
			<div class="text-muted">Our Zone</div>
			<br>
			<br>
			{% if not session.logged_in %}
			<p><a role="button" href="/login" class="btn btn-success btn-lg">登录</a></p>
			{% endif %}
		</div>
	</div>
{% endblock %}
