	{% extends "base.html" %}
	{% block body %}
		<nav class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#example-navbar-collapse">
						<span class="sr-only">切换导航</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Ozone</a>
				</div>
				<div class="collapse navbar-collapse" id="example-navbar-collapse">
					<ul class="nav navbar-nav">
						<li role="presentation"><a href="{{ url_for("index") }}">主页</a></li>
						<li role="presentation" class="active"><a href="{{ url_for("message.show_message", page=1) }}">留言</a></li>
						<li role="presentation"><a href="{{ url_for("column.show_essay", page=1) }}">专栏</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li role="presentation"><a href="{{ url_for("logout") }}"><span class="glyphicon glyphicon-log-out"></span>注销</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1 col-lg-10 col-lg-offset-1" style="background: #FFE4E1">
					<div>
					<form action="{{ url_for('message.add_message') }}" method="post" class="add-message">
						<div class="form-group">
							<label for="content">Content</label>
							<textarea class="form-control" id="content" name="content" placeholder="说些什么吧..."></textarea>
						</div>
						<button type="submit" class="btn btn-primary">提交</button>
					</form>
					</div>
					{% for message in messages %}
						{% if message.owner == "汪先森" %}
						<div class="panel panel-info">
							<div class="panel-heading">{{ message.owner }}({{ message.timestamp }})</div>
							<div class="panel-body">
								{{ message.content|safe|my_str_filter }}
							</div>
						</div>
						{% elif message.owner == "小笨笨" %}
						<div class="panel panel-danger">
							<div class="panel-heading">{{ message.owner }}({{ message.timestamp }})</div>
							<div class="panel-body">
								{{ message.content|safe|my_str_filter }}
							</div>
						</div>
						{% endif %}
					{% else %}
						<li><em>No messages</em>
					{% endfor %}

					<!--pagination-->
					<div align="center">
						<ul class="pagination pagination-lg">
							<li><a href="{{ url_for('message.show_message', page=current_page-1) }}">&laquo;</a></li>
							{% for page in range(1, total_page + 1) %}
							{% if current_page == page %}
								<li class="active"><a href="{{ url_for('message.show_message', page=page) }}">{{ page }}</a></li>
							{% else %}
								<li><a href="{{ url_for('message.show_message', page=page) }}">{{ page }}</a></li>
							{% endif %}
							{% endfor %}
							<li><a href="{{ url_for('message.show_message', page=current_page+1) }}">&raquo;</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
