{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3" style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;">
			<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#writeModal">
				新建专栏
			</button>

			<!-- writing essay modal -->
			<div class="modal fade" id="writeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								&times;
							</button>
						</div>
						<div class="modal-body">
							<form action="{{ url_for('column.add_essay') }}" method="post" class="add-essay">
								<div>
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">话题</span>
										</div>
										<input type="text" id="title" name="title" class="form-control" placeholder="#title">
									</div>
									<br>
									<div class="input-group">
										<textarea class="form-control" rows="10" id="content" name="content"></textarea>
									</div>
									<br>
									<div class="float-right">
										<button type="submit" class="btn btn-primary">提交</button>
										<button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
									</div>
									<br>
								</div>
							</form>
						</div> <!-- modal-body -->
					</div> <!-- modal-content -->
				</div> <!-- modal-dialog -->
			</div> <!-- modal -->

			{% for essay in essays %}
			{% if essay.owner == "汪先森" %}
			<div class="card bg-secondary text-white">
				<div id="{{ essay.collapse_id }}">
					<div class="card-body">
						<h1 class="card-title">{{ essay.title }}</h4>
						{{ essay.content|safe|my_str_filter }}
					</div>
				</div>
				<div class="card-footer text-right">
					{{ essay.timestamp }} by {{ essay.owner }}
				</div>
			</div>
			{% elif essay.owner == "小笨笨" %}
			<div class="card bg-light text-dark">
				<div id="{{ essay.collapse_id }}">
					<div class="card-body">
						<h1 class="card-title">{{ essay.title }}</h4>
						{{ essay.content|safe|my_str_filter }}
					</div>
				</div>
				<div class="card-footer text-right">
					{{ essay.timestamp }} by {{ essay.owner }}
				</div>
			</div>
			{% else %}
			<li><em>No messages</em>
				{% endif %}
				<br>
				{% endfor %}

				<!--pagination-->
				<div class="d-flex justify-content-center">
					<ul class="pagination pagination-lg">
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=current_page-1) }}">&laquo;</a></li>
						{% for page in range(1, total_page + 1) %}
						{% if current_page == page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=page) }}">{{ page }}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=page) }}">{{ page }}</a></li>
						{% endif %}
						{% endfor %}
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=current_page+1) }}">&raquo;</a></li>
					</ul>
				</div>
		</div>
		<div class="col-sm-auto col-md-3" style="margin-top: 50px;">
			<h3>我们的足迹</h3>
			<nav class="bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
					{% for t in titles %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('column.show_essay', title=t, page=1) }}"><h4>{{ t }}</h4></a></li>
					{% endfor %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3" style="margin-top: 20px;">
			<div class="dropdown">
				<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
					我们的足迹
				</button>
				<div class="dropdown-menu">
					{% for t in titles %}
					<a class="dropdown-item" href="{{ url_for('column.show_essay', title=t, page=1) }}">{{ t }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
</div>
{% endblock %}
