{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="row">
        {% for photo in photo_infos %}
        <div class="col-sm-3">
            <div class="card exhibition">
                <div class="card-body">
                    <img src="{{ photo['url'] }}">
                </div>
                <div class="card-footer">
                    <h6 class="card-text">{{ photo['name'] }}</h6>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}