{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3" style="border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;">
			<a href="{{ url_for('column.add_essay') }}" role="button" class="btn btn-lg btn-primary">新建专栏</a>
			{% for essay in essays %}
			{% if essay.owner == "汪先森" %}
			<div class="card">
				<div id="{{ essay.collapse_id }}">
					<div class="card-body">
						<h1 class="card-title">{{ essay.title }}</h4>
						{{ essay.content|safe|my_str_filter }}
					</div>
				</div>
				<div class="card-footer text-right" style="background:linear-gradient(to right, rgba(135, 206, 250, 1), rgba(135, 206, 250, 0.6));">
					{{ essay.timestamp }} by {{ essay.owner }}
				</div>
			</div>
			{% elif essay.owner == "小笨笨" %}
			<div class="card">
				<div id="{{ essay.collapse_id }}">
					<div class="card-body">
						<h1 class="card-title">{{ essay.title }}</h4>
						{{ essay.content|safe|my_str_filter }}
					</div>
				</div>
				<div class="card-footer text-right" style="background: linear-gradient(to right, rgba(255, 192, 203, 1), rgba(255, 192, 203, 0.6));">
					{{ essay.timestamp }} by {{ essay.owner }}
				</div>
			</div>
			{% else %}
			<li><em>No messages</em>
				{% endif %}
				<br>
				{% endfor %}

				<!--pagination-->
				<div class="d-flex justify-content-center">
					<ul class="pagination">
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=current_page-1) }}">&laquo;</a></li>
						{% for page in range(1, total_page + 1) %}
						{% if current_page == page %}
						<li class="page-item active"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=page) }}">{{ page }}</a></li>
						{% else %}
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=page) }}">{{ page }}</a></li>
						{% endif %}
						{% endfor %}
						<li class="page-item"><a class="page-link" href="{{ url_for('column.show_essay', title=current_title, page=current_page+1) }}">&raquo;</a></li>
					</ul>
				</div>
		</div>
		<div class="col-sm-auto col-md-3" style="margin-top: 50px;background: linear-gradient(#FFC0CB, #EE82EE);">
			<h3>我们的足迹</h3>
			<nav class="sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
					{% for t in titles %}
					<li class="nav-item"><a class="nav-link" href="{{ url_for('column.show_essay', title=t, page=1) }}"><h4>{{ t }}</h4></a></li>
					{% endfor %}
					</ul>
				</div>
			</nav>
		</div>
		<div class="col-sm-10 offset-sm-1 col-md-6 offset-md-3" style="margin-top: 20px;">
			<div class="dropdown">
				<button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
					我们的足迹
				</button>
				<div class="dropdown-menu">
					{% for t in titles %}
					<a class="dropdown-item" href="{{ url_for('column.show_essay', title=t, page=1) }}">{{ t }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
</div>
{% endblock %}
